<turbo-stream action="update" target="player-character-stats">
    <template>
        <div class="border-bottom pb-1">{{ "Combat"|trans }}</div>
        {{ component('CombatStats', {gameObject: playerCharacter}) }}
    </template>
</turbo-stream>