<div class="bg-dark border-primary rounded m-1">
    <div class="dropdown">
        <a data-bs-toggle="dropdown" href="#" class="dropdown-toggle">
            {{ component('Item:Prototype', {id: itemInstance.itemPrototypeId, quantity: itemInstance.quantity}) }}
        </a>
        <div class="dropdown-menu border">
            {% for action in itemActionEngine.availableActions(itemInstance) %}
            <a class="dropdown-item" href="{{ path('app_map_item_action_perform', {id: itemInstance.id, action: constant('class', action)}) }}">{{ action.verb }}</a>
            {% endfor %}
        </div>
    </div>
</div>