services:
###> doctrine/doctrine-bundle ###
  database:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_USERNAME: 'symfony-mmo'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - ./environment/mysql/db:/var/lib/mysql
  mercure:
    image: dunglas/mercure
    restart: unless-stopped
    environment:
      MERCURE_PUBLISHER_JWT_KEY: '12345678901234567890123456789012'
      MERCURE_SUBSCRIBER_JWT_KEY: '12345678901234567890123456789012'
      SERVER_NAME: ':80'
    volumes:
      - ./environment/dev.Caddyfile:/etc/caddy/dev.Caddyfile
    # Uncomment the following line to enable the development mode
#    command: /usr/bin/caddy run --config /etc/caddy/dev.Caddyfile
    ports:
      - '3000:80'
    expose:
      - '3000'
  lavinmq:
    image: cloudamqp/lavinmq:latest
    ports:
      - 15672:15672 # HTTP
      - 5672:5672 # AMQP
  web:
    image: nginx:alpine
    restart: always
    volumes:
      - ./:/var/www/html
      - ./environment/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    expose:
      - "80"
  php-fpm:
    restart: unless-stopped
    build:
      dockerfile: environment/php-fpm/Dockerfile
    volumes:
      - ./:/var/www/html
      - ./environment/.env.dev.local:/var/www/html/.env.dev.local
      - ./environment/php-fpm/php.ini-production:/usr/local/etc/php/php.ini
  worker:
    extends:
      service: php-fpm
    depends_on:
      - database
  worker_database:
    extends:
      service: worker
    command: "/var/www/html/bin/console messenger:consume game_reward scheduler_game_map_spawn"
  worker_game_activity:
    extends:
      service: worker
    command: "/var/www/html/bin/console messenger:consume game_activity --sleep=0.05"