{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'activities'|trans|capitalize }}</div>
                <turbo-frame class="card-body" id="map_available_activities" {{ custom_turbo_stream_listen('mapAvailableActivities_' ~ map.id) }}>
                    {% for entity in map.availableActivities %}
                        {% set id = entity.id %}
                        {{ block('create', 'broadcast/Data/MapAvailableActivity.stream.html.twig') }}
                    {% endfor %}
                </turbo-frame>
            </div>
        </div>
    </div>
{% endblock %}