{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg">
            <div class="card">
                <div class="card-header bg-info">{{ 'field'|trans|capitalize }}</div>
                {{ component('MapField',{class: 'card-body', loading: 'lazy'}) }}
            </div>
        </div>
        <div class="col-lg-auto">
            <div class="card">
                <div class="card-header bg-info">{{ 'recipes'|trans|capitalize }}</div>
                <div class="card-body">
                    <turbo-frame id="recipes">
                        {% for recipe in recipes %}
                            {{ component('Render:RecipeRenderTemplate', {recipe: recipe}) }}
                        {% endfor %}
                    </turbo-frame>
                </div>
            </div>
        </div>
    </div>
{% endblock %}