{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% block create %}
    <turbo-stream action="append" target="map_spawned_mobs">
        <template>
            <div id="map_spawned_mob_{{ id }}" class="animate__animated animate__zoomIn animate__faster">
                {% include 'parts/map_spawned_mob.html.twig' %}
            </div>
        </template>
    </turbo-stream>
{% endblock %}

{% block update %}
    <turbo-stream action="update" target="map_spawned_mob_{{ id }}">
        <template>
            {% include 'parts/map_spawned_mob.html.twig' %}
        </template>
    </turbo-stream>
{% endblock %}

{% block remove %}
    <turbo-stream action="remove" target="map_spawned_mob_{{ id }}">
        <template></template>
    </turbo-stream>
{% endblock %}
