{% extends 'layout.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-info">{{ 'map resources'|trans|capitalize }}</div>
                <div class="card-body" id="map_resource_spots" {{ custom_turbo_stream_listen('mapResourceSpots_' ~ map.id) }}>
                    {% for entity in map.mapResourceSpots %}
                        {% include 'parts/map_source_spot.html.twig' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}