<div id="item-instance-{{ this.item.id }}" class="bg-dark border-primary rounded m-1 dropdown">
    <a data-bs-toggle="dropdown" href="#" class="dropdown-toggle">
        {{ component('Render:ItemRenderTemplate', {item: this.item, render: this.render}) }}
    </a>
    <div class="dropdown-menu border">
        {% for interaction in this.interactions %}
            <a class="dropdown-item" href="{{ interaction.action }}">{{ interaction.label|trans }}</a>
        {% endfor %}
    </div>
</div>
