# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    Symfony\UX\StimulusBundle\Helper\StimulusHelper:
        alias: 'stimulus.helper'

    _instanceof:
        App\GameElement\Combat\Engine\CombatManagerInterface:
            tags: ['combat.manager']
        App\GameElement\Core\GameObject\GameObjectInterface:
            tags: [ 'game.object' ]
        App\GameElement\Core\GameObjectPrototype\GameObjectPrototypeInterface:
            tags: [ 'game.object.prototype' ]
        App\GameElement\Core\GameComponent\GameComponentInterface:
            tags: ['game.component']
        App\GameElement\Mastery\MasteryType:
            tags: [ 'mastery.type' ]
        App\GameElement\Reward\RewardApplierInterface:
            tags: [ 'reward.applier' ]
        App\GameElement\Activity\Engine\ActivityEngineExtensionInterface:
            tags: [ 'activity.engine_extension' ]
    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
