$body-bg: #504b4b;
$body-color: #b8b8b8;

$primary: #1a1d20;
$danger: #95332f;
$dark: #353232;
$info: #786c6c;

$leftBarWidth: 6em;

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

#sidebarLeft {
  position: fixed;
  width: $leftBarWidth;
}

*:has(> #sidebarLeft) {
  width: $leftBarWidth;
}

#sidebarLeft .nav-link {
  color: $light;
}

.nav.nav-leftline .nav-link {
  border-left: $nav-underline-border-width solid transparent;
  padding-left: .2em;
}

.nav.nav-leftline .nav-link:hover {
  border-left: $nav-underline-border-width solid currentColor;
}

.fade-from-left {
  animation: fadeFromLeft .5s;
}

.fade-from-bottom {
  animation: fadeFromBottom .5s;
}

.fade-opacity {
  animation: fadeOpacity .5s;
}

.fade-from-small {
  animation: fadeFromSmall .5s;
}

@keyframes fadeFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes fadeFromBottom {
  from {
    transform: translateY(200%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadeOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeFromSmall {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}