<div style="width: 3em; height: 3em;" class="position-relative" title="{{ item.name }}">
    <img src="{{ asset('images/items/' ~ item.id|lower ~ '.png') }}" alt="{{ item.name }}" class="h-100 w-100"/>
    {% if quantity is defined %}
        <span class="badge bg-secondary position-absolute bottom-0 end-0">{{ quantity }}</span>
    {% endif %}
    {% if maskedDanger is defined and maskedDanger %}
        <div class="w-100 h-100 position-absolute top-0 rounded" style="background-color: rgba(255, 0, 0, .5)"></div>
    {% endif %}
</div>
